<div class="container">
    <form (ngSubmit)="signupUser()">
        <div class="form-group">
            <label>Username: </label>
            <input  type="text" class="form-control" id="username" name="username" placeholder="Enter username..." [(ngModel)]="signModel.username" required>
        </div>
        <div class="form-group">
            <label>Password: </label>
            <input  type="password" class="form-control" id="password" name="password" placeholder="Enter password..." [(ngModel)]="signModel.password" required>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

