<div *ngIf="!currentUser">
    <app-login></app-login>
    <app-signup></app-signup>
</div>

<div *ngIf="currentUser">
    <nav class="navbar navbar-expand-md bg-light fixed-top justify-content-center" *ngFor="let role of currentUser.roles">


        <ul class="navbar-nav align-items-center" *ngIf="display(role)">
            <li class="nav-item mr-4">
                <a class="nav-link active" [routerLink]="[ '/report-list']">Report</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link active" [routerLink]="[ '/list-book']">Information</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link active" [routerLink]="[ '/list-book']">Name</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link active" [routerLink]="[ '/list-book']">{{role}}</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link active" (click)="logOut()">Logout</a>
            </li>
        </ul>

        <ul class="navbar-nav align-items-center" *ngIf="!display(role)">
            <li class="nav-item mr-4">
                <a class="nav-link active" [routerLink]="[ '/report-list']">Report</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link active" [routerLink]="[ '/list-user']">List User</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link active" [routerLink]="[ '/list-book']">Name</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link active" [routerLink]="[ '/list-book']">{{role}}</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link active" (click)="logOut()">Logout</a>
            </li>
        </ul>
    </nav>

    <!-- Drawing Chart -->
    <div *ngFor="let emp of chart">
        {{emp.date}}: {{emp.originalEstimate}} ---- {{emp.timeSpent}}
    </div>


    <!-- Project -->
    <div *ngFor="let emp of project">
        <a (click)="getSprint(emp)">{{emp}}</a>
    </div>

    <!-- Save report -->
    <form (submit)="saveReport()">
        <div *ngFor="let emp of sprint">
            <a (click)="getDate(emp)">{{emp}}</a>
        </div>

        {{startDate}}
        <br> {{endDate}}
        <br> {{currentUser.id}} {{saveSprint}}
        <div *ngIf="saveSprint"><input type="submit" value="Save"></div>

    </form>

    <router-outlet></router-outlet>

</div>