<div class="container" style="text-align: center;">
  <input type="search" class="form-control" id="booksearch" placeholder="Searching..." style="margin-bottom: 20px;">
  <table class="table table-bordered table-hover">
      <thead class="thead-light">
          <tr>
              <th>User's id</th>
              <th>User's name</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let emp of listUser">
              <td>{{emp.id}}</td>
              <td>{{emp.username}}</td>
              <td>
                  <div class="btn-group btn-group-lg">
                      <a [routerLink]="[ '/update-user', emp.id]" type="button" class="btn btn-outline-success">Update User</a>
                      <a (click)="deleteUser(emp.id)" type="button" class="btn btn-outline-success">Delete User</a>
                  </div>
              </td>
          </tr>
      </tbody>
  </table>

  <div class="btn-group btn-group-lg" style="margin-top: 100px;">
      <a [routerLink]="[ '/signup']" type="button" class="btn btn-outline-success">Add User</a>
  </div>
</div>

