<div class="container">
    <form (ngSubmit)="login()">
        <div class="form-group">
            <label>Username: </label>
            <input type="text" class="form-control" id="username" name="username" 
                placeholder="Username" [(ngModel)]="loginModel.username" required>
        </div>
        <div class="form-group">
            <label>Password: </label>
            <input type="password" class="form-control" id="password" name="username" 
                placeholder="Password" [(ngModel)]="loginModel.password" required>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </form>
</div>



